@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

*{
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}


.deweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.align-center {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

.formBtn {
  width: 100%;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  color:white;
  border-radius: 20px;
  background-color: #37c0ff;
  box-sizing: border-box;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Navigation */

.top__Logo{
  font-size: 25px;
  text-align: center;
  margin-right: 110px;
  color:#37c0ff;
}

.navHome {
  display: flex;
  width: 40px;
  flex-direction: column;
  border-radius: 17px;
  margin-right: 10px;
}

.navProfile {
  border: solid 1px #37c0ff; 
  display: flex;
  width: 40px;
  flex-direction: column;
  margin-top: -6px;
  border-radius: 17px;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profileForm__Photo {
  display: block; 
  margin: 0px auto;
}

.profileForm label {
  color:#37c0ff;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  
}

.profileForm p{
  margin-bottom: 15px;
  position: relative;
  display: flex;
  color: #37c0ff;
  justify-content: left;
  width: 100%;
  font-size: 12px;
}

.logOut {
  margin-top: 50px;
  background-color: rgb(228, 69, 156);
}

/* dewitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.factoryForm p{
  margin-bottom: 15px;
  position: relative;
  display: flex;
  color: #37c0ff;
  justify-content: left;
  width: 100%;
  font-size: 12px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.factoryInput__input {
  flex-grow: 1;
  height: 50px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #37c0ff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
}

.factoryInput__arrow {
  display: absolute;
  padding: 8px;
  text-align: center;
  border-radius: 12px;
  color:#37c0ff;
}

.factoryInput__label {
  color: #37c0ff;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: #37c0ff;
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* deweet */

.deweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.deweet {
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 25px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.deweet h4 {
  font-size: 15px;
  margin-top: 4px;
}

.deweet__audio {
  margin-top: 10px;
  margin-bottom: 10px;
  left: -15px;
  position: relative;
}

.deweet__photoUrl {
  left: -40px;
  top: 0px;
  position: absolute;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.deweet__attach {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.deweet__disName {
  left: 10px;
  top: 7px;
  position: absolute;
  font-weight: bold;
}

.deweet p {
  text-align: right;
  right: 7px;
  bottom: 5px;
  position: absolute;
  font-size: 11px;
}

.deweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.deweet__submitBtn {
  text-align: center;
  display: flex;
}

.deweet__actions span {
  cursor: pointer;
}

.deweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #37c0ff;
  color: white;
  margin-top: 10;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #37c0ff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 14px;
  text-decoration: underline;
  text-align: center;
}